head
    title Yatzy - Fejl
    meta(charset="UTF-8")

body
    div(class="container", style="display: flex; justify-content: center; align-items: center; flex-direction: column;")
        h1 Der er sket en fejl
        p= message
        button(class="btn btn-primary", onclick="location.href='/'") Tilbage til alle rummene

        h2 Fejl: #{error}